* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    background-color: var(--light-mode-page-background-color);
    font-family: 'IBM Plex Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Variables to add shortcut to our colors */
:root {
    --light-mode-page-background-color: rgb(254, 254, 254);
    --start-button: rgb(2, 230, 2);
    --retry-button: rgb(1, 109, 145);
    --score-button: rgb(2, 54, 103);
    --options-button-color: #5585b5;
    --question-card-light-color: rgb(189, 221, 249);
    --heading-bg-color: #79c2d0;
}

h1 {
    background-color: var(--heading-bg-color);
    color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 3px black;
}

h2 {
    background-color: var(--heading-bg-color);
    border-radius: 5px;
    padding: 10px;
}

p {
    background-color: var(--question-card-light-color);
}

button {
    border-radius: 5px;
    padding: 30px;
}

button:hover {
    cursor: pointer;
}

#timer-bar {
    display: flex;
}

#quiz-block {
    position: relative;
}

#text-box {
    position: absolute;
    background-color: var(--question-card-light-color);
    margin-top: 50px;
    margin-left: 25%;
}


#starting-point {
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

#start-quiz-button {
    background-color: var(--start-button);
    border-radius: 8px;
    border: outset 3px rgb(125, 226, 125);
    padding: 20px;
}

#question-one {
    position: absolute;
    visibility: hidden;
}

#question-two {
    position: absolute;
    visibility: hidden;
}

#question-three {
    position: absolute;
    visibility: hidden;
}

#question-four {
    position: absolute;
    visibility: hidden;
}

#question-five {
    position: absolute;
    visibility: hidden;
}

#question-six {
    position: absolute;
    visibility: hidden;
}

#question-seven {
    position: absolute;
    visibility: hidden;
}

#question-eight {
    position: absolute;
    visibility: hidden;
}

#question-nine {
    position: absolute;
    visibility: hidden; 
}

#question-ten {
    position: absolute;
    visibility: hidden; 
}


/* This styles every section the same way */
.section-item {
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin: 100px 20%;
    background-color: var(--question-card-light-color);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(175, 168, 168);
}


#options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    background-color: var(--question-card-light-color);
}

#options button {
    height: 50px;
    background-color: var(--options-button-color);
    color: #d2faff;
    padding: 10px;
}

#options button:hover {
    background-color: #79c2d0;
}

#end-point {
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-evenly;
}

#info-form {
    display: flex;
    justify-content: center;
    background-color: var(--question-card-light-color);
}

#submit {
    background-color: var(--options-button-color);
    color: #d2faff;
}

#initials-input {
    border-radius: 5px;
}

#end-buttons {
    background-color: var(--question-card-light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 25%;
}

#end-buttons button {
    background-color: var(--options-button-color);
    color: #d2faff;
}

#end-buttons button:hover {
    background-color: #79c2d0
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: solid 2px #dddd;
    text-align: center;
}

#score-section {
    position: absolute;
    visibility: hidden;
}

#score-section button {
    background-color: var(--options-button-color);
    color: #d2faff;
}

footer {
    margin-top: auto;
} 